h1{
font-family:"Archivo Narrow", Arial, sans-serif;
text-align: center;
font-size:5rem;
background-color: #D3D3D3;
}

.sliderarrow1{
  width:20%;
  transform: rotate(180deg);
  margin-left: 45px;
  padding-right:30px;
}

.sliderarrow2{
  width:20%;
  margin-right: 45px;
  padding-left: 30px;
}

.homeslide{
  width:40%;
  margin-top: 15px;
}

.button{
  width:35%;
  margin-right:50%;
  margin-left:50%;
}

.logo{
  width:10%
}
.enter{
 width:5%
}
.dollar{
width:2%
}
.deadline{
width:3%
}
.awards{
width:2%
}
.judge{
width:5%
}
body {
  background-color: #F4F4F4;
}

#nav {
  padding: 5px, 5px, 5px, 5px;
}
#nav li{
  list-style-type: none;
  margin:0;
  padding:0;
  width:15%auto;
  border-bottom: 2px solid #373737;
  text-decoration: none;
  background-color: grey;
}

#container{
  width:95%;
  background-color:green;
  margin:0 auto;
}

#nav a:link{
  background-color:#ffffff;
  font-weight:bold;
  text-align:left;
  text-decoration:none;
  padding:10px;
  font-family:"Archivo Narrow", Arial, sans-serif;
}

#nav a:visited {
#nav a:hover, #nav a:active{
  background-color:#c9c9c9;
}

>>>>>>> Stashed changes
