h1{
font-family:"Archivo Narrow", Arial, sans-serif;
text-align: center;
background-color: grey;
}

body {
  background-color: #F4F4F4;
}

#nav {
    padding: 20px;
}

#nav li{
  list-style-type:none;
  margin:0;
  padding:0;
width:25%;
border-bottom: 2px solid #1a0013;
text-decoration: none;
background-color: grey;

}

#nav a:link{
  display:block;
  color:#000000;
  background-color:#ffffff;
  font-weight:bold;
  text-align:left;
  text-decoration:none;
  padding:10px;
  font-family:"Archivo Narrow", Arial, sans-serif;
}

#nav a:visited {
  color:#E8D6CB;
}

#nav a:hover, #nav a:active{
  background-color:#c9c9c9;
}
