h1{
font-family:"Archivo Narrow", Arial, sans-serif;
text-align: center;
background-color: grey;
}

#nav li{
  list-style-type:none;
  margin:0;
  padding:10px;
width:50%;
border-bottom: 2px solid #800101;
text-decoration: none;
background-color: grey;
}

#nav a:link{
  display:block;
  color:#000000;
  background-color:#ffffff;
  font-weight:bold;
  text-align:left;
  text-decoration:none;
  padding:10px;
  font-family:Helvetica, Arial, sans-serif;
}

#nav a:visited {
  color:#E8D6CB;
}

#nav a:hover, #nav a:active{
  background-color:#AD6A6C;
}

#nav{
  padding:10px;
